
{require_otp_vsn, "R?17"}.
%{require_min_otp_vsn, ".*"}.

{erl_opts,
    [
      debug_info, fail_on_warning
    , { parse_transform, lager_transform }
    ] }.
    
{recursive_cmds, [clean, compile, xref, ct, generate, 'get-deps']}.

{port_env,
    [ {"linux", "CXX", "ccache g++"}
    , {"linux", "CC", "g++"}    % CC is used to link
    , {"linux", "CXXFLAGS", "$CXXFLAGS  -std=c++11 -I c_src/ -I /usr/lib/erlang/lib/erl_interface/src/"}
    , {"linux", "EXE_LDFLAGS", "$EXE_LDFLAGS  -lcrypto -lboost_system"}
    ] }.

{port_specs,
    [
    ] }.            


{lib_dirs, ["deps", "apps"]}.

{sub_dirs, [ "src"
           , "apps/warbd_injector"
           , "apps/warbd_query"
           , "apps/warbd_player_info"
           , "apps/warbd_presence"
           ] }.


{deps_dir, ["deps"]}.
{deps, [
         {erlangx,              ".*", {git, "https://github.com/badmonkey/erlang-misc-library.git"}}
       ] }.

