
{ include_erts, false }.
{ include_src, false }.
{ extended_start_script, true }.
{ output_dir, "release" }.
{ lib_dirs, ["./apps/"] }.

{ sys_config, "priv/release.config" }.

{ exclude_apps
, [ compiler, mnesia, public_key, asn1, crypto
  , inets, syntax_tools, ssl
  ]
}.


{ overlay
, [
%    { mkdir, "releases/\{\{release_name\}\}-\{\{release_version\}\}/logs" }
%    {copy, "rel/vm.args", "releases/\{\{release_name\}\}-\{\{release_version\}\}/vm.args"}
    { copy, "shell", "releases/\{\{release_version\}\}/shell" }
  ]
}.


{ release
, {warbeard, "1.0.0"}
, [ warboard
  , warbd_injector, warbd_query, warbd_player_info, warbd_presence
  ]
}.
 
