
[
    { lager     % log levels debug, info, notice, warning, error, critical, alert, emergency
    , [ {crash_log, "log/crash.log"}
      , { handlers
        , [ { lager_console_backend, notice}
          , { lager_file_backend, [ {file, "log/notice.log"},   {level, notice} ] }
          , { lager_file_backend, [ {file, "log/error.log"},    {level, error}  ] }
          , { lager_file_backend, [ {file, "log/debug.log"},    {level, debug}  ] }          
          ]

        }
      ]
    },
    
    { mnesia
    , [ {dir, "database/mnesia"}
      ]
    }
    
].

