
[
    { lager
    , [ {crash_log, 'logs/crash.log'}
      , { handlers
        , [ { lager_console_backend, info}
          , { lager_file_backend, [ {file, "logs/debug.log"}, {level, '=debug'} ] }
          , { lager_file_backend, [ {file, "logs/info.log"},  {level, info}     ] }
          , { lager_file_backend, [ {file, "logs/error.log"}, {level, '=error'} ] }
          ]
        }
      ]
    },
    
    { mnesia
    , [ {dir, "database/mnesia"}
      ]
    }
    
].

