
[
    { lager     % log levels debug, info, notice, warning, error, critical, alert, emergency
    , [ {crash_log, 'log/crash.log'}
      , { handlers
%        , [ { lager_console_backend, debug}
%          , { lager_file_backend, [ {file, "log/debug.log"},    {level, debug} ] }
%          ]
          
        , [ { lager_console_backend, notice}
          , { lager_file_backend, [ {file, "log/debug.log"},    {level, '<=info'} ] }
          , { lager_file_backend, [ {file, "log/notice.log"},   {level, notice}     ] }
          , { lager_file_backend, [ {file, "log/error.log"},    {level, error} ] }
          ]

        }
      ]
    },
    
    { mnesia
    , [ {dir, "database/mnesia"}
      ]
    }
    
].

