
[
    { lager
    , [ {crash_log, 'logs/crash.log'}
      , { handlers
        , [ { lager_console_backend, debug}
          , { lager_file_backend, [{file, "logs/debug.log"}, {level, debug}]}
          , { lager_file_backend, [{file, "logs/info.log"}, {level, info}]}
          , { lager_file_backend, [{file, "logs/error.log"}, {level, error}]}
          , { lager_file_backend
            , [ {file, "logs/received.log"}
              , {level, none}
              , {date, "$D0"}
              , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", message, "\n"]}
              ]
            }
          , { lager_file_backend
            , [ {file, "logs/transmitted.log"}
              , {level, none}
              , {date, "$D0"}
              , {formatter_config, [date, " ", time," [",severity,"] ", pid, " ", message, "\n"]}
              ]
            }
          ]
        }
      , { traces
        , [ {{lager_file_backend, "logs/received.log"}, [{type, rx}], info}
          , {{lager_file_backend, "logs/transmitted.log"}, [{type, tx}], info}
          ]
        }
      ]
    }
].

